@model List<Selfie> 

@if(Model.Count <= 0)
{
    <i>Aucun Selfie disponible</i>
}

@foreach (var item in Model)
{
    <div class="card selfie">
        <h2>@(item.Titre.ToUpper())</h2>
    </div>    
}